
#profile-image {
	
}
.social_icon a {
	color:#fff;
}

#more {
	display: none;
}

#profile {
	min-height: 100%;
}



a, a:hover, a:focus{

	text-decoration: none;
}

a {
	color: Black;
}
a:hover{
	color: #2151B2;
}

#projects {
	margin-top: 2em;
}

#banner {
	background-image: url("../img/backgrounds-blank-blue-953214.jpg");
	background-size: cover;
	color: #fff;

}